In [2]:
# --------------------------------------------------------------------------
# 11.1 Create a file called zoo.py. In it, define a function called hours() 
# that prints the string 'Open 9-5 daily'. Then, use the interactive 
# interpreter to import the zoo module and call its hours() function.
# --------------------------------------------------------------------------

def hours():
    print("Open 9-5 daily")

# import strategy
>>> import zoo
>>> zoo.hours()
Open 9-5 daily

In [4]:
# --------------------------------------------------------------------------
# 11.2 In the interactive interpreter, import the zoo module as menagerie 
# and call its hours() function.
# --------------------------------------------------------------------------

>>> import zoo as menagerie
>>> menagerie.hours()
Open 9-5 daily

In [ ]:
# --------------------------------------------------------------------------
# 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db 
# that you just made in exercise 16.4. As in 16.6, select and print the 
# title column from the book table in alphabetical order.
# --------------------------------------------------------------------------

from sqlalchemy import create_engine, MetaData, Table, select

# connection to the database
engine = create_engine('sqlite:///books.db')
connection = engine.connect()

# reflect this within the tables
metadata = MetaData()
books = Table('book', metadata, autoload_with=engine)

# build the query (select titles, and order them alphabetically)
stmt = select(books.c.title).order_by(books.c.title)

# execute and fetch results
results = connection.execute(stmt).fetchall()

# print each title
for row in results:
    print(row.title)

connection.close()